<div
  class="list__item flex items-center relative py-2 px-3 border-gray-300"
  [ngClass]="{ 'is-last': isLast }"
  (mouseenter)="onMouseEnter()"
  (mouseout)="onMouseOut()"
>
  <div class="list__item__checkbox">
    <div
      class="checkbox--wrapper mr-2 rounded-full flex items-center justify-center cursor-pointer border-gray-400"
    >
      <i class="material-icons text-xl text-emerald-500" *ngIf="todo?.completed"
        >check</i
      >
    </div>
  </div>

  <div class="list__item__label relative flex-1 text-gray-500">
    {{ todo?.content }}
    <form *ngIf="isEditing" class="absolute top-0 left-0 right-0 bottom-0">
      <input
        [value]="todo?.content"
        class="border-gray-300"
        [ngStyle]="{ 'border-width': '1px' }"
      />
    </form>
  </div>

  <div class="list__item__handle absolute flex items-center">
    <div class="handle__item" [ngClass]="{ active: isHovered }">
      <i
        class="material-icons text-blue-400 text-lg cursor-pointer p-1"
        (click)="isEditing = true"
        >edit</i
      >
    </div>
    <div class="handle__item" [ngClass]="{ active: isHovered }">
      <i class="material-icons text-red-400 text-lg cursor-pointer p-1"
        >close</i
      >
    </div>
  </div>
</div>
